.app-header{
    position: relative; /*because the side menu will be position:absolute*/
    height: 65px;
    display: flex;
    box-sizing: content-box;
    padding: 4px 3%;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}

.app-header-child{
    /* every direct child of .app-header */
    height: 60%;
}

.app-header-logo > * {
    /* Komix logo img */
    height: 100%;
}

.app-header-hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}