.app-container{
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.app-container > div {
    padding-top: 65px;
}

.app-container > .results-page{
    margin-top: 20px;
}

@media only screen and (min-width: 600px){
    .app-container > .results-page {
        margin-top: 0;
    }
}