.network_error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 75vh;
}

.network_error-icon{
    display: flex;
    justify-content: center;
}

.network_error-information{
    color: var(--font-mid);
    font-size: var(--size-mid);
}

.network_error-action-btn{
    margin-top: 10px;
    color: var(--color-primary-mid);
    border: 2px solid currentColor;
    cursor: pointer;
    text-decoration: none;
    font-size: var(--size-mid);
    font-family: var(--roboto);
    background-color: transparent;
    padding: 5px 10px;
}
.network_error-action-btn:hover{
    color: var(--color-primary) ;
}

/* Breakpoints */
@media only screen and (min-width: 600px){
    .network_error-icon{
        width: 500px;
        height: 400px;
    }

    .network_error-information{
        font-size: var(--size-big);
    }

    .network_error-action-btn{
        font-size: var(--size-big);
    }
}
