.comic_page{
    background-color: var(--bg-main);
    min-height: 100vh;
}

/* padding: 0 15px; */

.comic_page-content{

}
.comic_page-content-poster{
    position: relative;
    height: 280px;
    width: 100%;
    overflow:hidden;
    background-size: cover;
    background-position-y:center;
    background-repeat: no-repeat;
}
.comic_page-content-poster > div{
    background: rgba(59, 59, 59, 0.123);
    height: 100%;
    width: 100%;
}

