.comic_page{
    background-color: var(--bg-main);
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* padding: 0 15px; */

/* Comic_page-content */
.comic_page-content{
    position: relative;
}
.comic_page-content-poster{
    position: relative;
    height: 300px;
    width: 100%;
    overflow:hidden;
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
}
.comic_page-content-poster > div{
    background: rgba(59, 59, 59, 0.123);
    height: 100%;
    width: 100%;
}
.comic_page-content-poster-small{
    background-color: var(--bg-main);
    height: 220px;
    width: 142px;
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.comic_page-content-poster-small > img{
    height: 100%;
    border-radius: 2px;
}

/* Comic_page-information */
.comic_page-information{
 /*background: red; */
 flex: 1;  
}
.comic_page-information > * {
    /* padding: 0 var(--padding-hori-mobile); */
}

.comic_page-information-space{
    height: 60px;
    width: 100%;
    /*background-color: red; */
}
.comic_page-information-title{
    font-size: var(--size-extreme);
    font-family: var(--roboto-bold);
    color: var(--color-primary-darker);
    padding: 20px var(--padding-hori-mobile);
    border-bottom: 1px solid var(--font-lighter);
}
.comic_page-information-title > .loader{
    width: 350px;
}

.comic_page-information-details{
    display: flex;
    flex-direction: column;
    font-family: var(--roboto);
    font-weight: var(--weight-big);
}
.comic_page-information-details > * {
    font-size: var(--size-mid);
}

.comic_page-information-details-figures{
    display: flex;
    justify-content: space-between;
    /* background-color: green; */
    padding: var(--padding-vert-mobile) var(--padding-hori-mobile);
}

.comic_page-information-details-figures-pages{
    padding-left: var(--padding-hori-mobile);
}
.comic_page-information-details-figures-pages > .pages-key {
    color: var(--font-mid);
    letter-spacing: 2px;
}
.comic_page-information-details-figures-pages > .pages-value {
    font-family: var(--roboto-bold);
    color: var(--font-mid);
}


.comic_page-information-details-figures-price{
    padding-right: var(--padding-hori-mobile);
}
.comic_page-information-details-figures-price > .price-key {
    letter-spacing: 2px;
    color: var(--font-mid);
}
.comic_page-information-details-figures-price > .price-value{
    font-family: var(--roboto-bold);
    color: var(--font-mid);
}

.comic_page-information-details-link{
    padding: 0 var(--padding-hori-mobile);
}
.comic_page-information-details-link > a {
    text-decoration: none;
    display:block;
    width: 100%;
    height: 100%;
    font-size: var(--size-mid);
    color: var(--font-lighter);
    font-weight: var(--weight-big);
    font-family: var(--roboto-normal);
    padding: var(--padding-vert-mobile) 0;
    text-align: center;
    background-color: var(--color-primary-mid);
}
.comic_page-information-details-link > a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.comic_page-information-details-link > a:active{
    background-color: var(--color-primary);
}

/* comic_page-information-description */
.comic_page-information-description{
    padding: var(--padding-vert-mobile-big) var(--padding-hori-mobile);
    font-size: var(--size-mid);
    letter-spacing: 1px;
}
.comic_page-information-description > .description {
    padding: var(--padding-vert-mobile-big);
}

/* creators */
.comic_page-information-creators{
    padding: 0 var(--padding-hori-mobile);
    border-top: 1px solid var(--font-lighter);
    background-color: var(--bg-dark);
    width: 100%;
}
.comic_page-information-creators-subheading{
    padding: var(--padding-vert-mobile) 0;
    font-size: var(--size-big);
    border-bottom: 1px solid var(--font-lighter);
    font-weight: var(--weight-big);
    color: var(--color-primary-darker);
}

.comic_page-information-creators-data{
    display: flex;
    flex-direction: column;
}
.comic_page-information-creators-data-creator{
    font-size: var(--size-mid);
    padding: var(--padding-vert-mobile) 0;
    font-weight: var(--weight-mid);
}
.creator-role{
    padding-left: 5px;
}
.creator-role-colon{
    display: none;
}
.comic_page-information-creators-data-creator:not(:last-child){
    border-bottom: 1px solid var(--font-lighter);
}

/* Share button */
.comic_page-sharebtn{
    background-color: var(--bg-dark);
    height: 43px;
    padding: 0 var(--padding-hori-mobile);
}

.comic_page-sharebtn > .share{
    cursor: pointer;
    font-family: var(--roboto);
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-mid);
    font-size: var(--size-mid);
    font-weight: var(--weight-mid);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.comic_page-sharebtn > .share:active{
    transform: scale(0.99);
}

.comic_page-sharebtn > .share > .share-label {
    color: var(--font-lighter);
    font-weight: var(--weight-mid);
}
.comic_page-sharebtn > .share > .share-icon {
    fill: var(--font-lighter);
    margin-left: 10px;
}
.comic_page-information-large{
    display: none;
}


/* Breakpoints */
@media only screen and (min-width: 600px){
    .comic_page{
        padding-top: 0 !important;
    }

    .comic_page-content{
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .comic_page-content-poster{
        flex: 1;
        background-position: center;
        background-size: cover;
        display: flex;
    }
    .comic_page-content-poster-small{
        display: none;
    }
    .comic_page-information{
        display: none;
    }
    .comic_page-sharebtn{
        display: none;
    }

    .comic_page-information-large{
        display: flex;
        justify-content: center;
    }
    .comic_page-information-large > * {
        background-color: rgba(0, 0, 0, 0.541);
    }
    .comic_page-information-large-poster{
        padding-left: var(--padding-hori-mobile);
        justify-content: right;
        padding-top: 65px;
        flex: 0 0 40%;
        display: flex;
        align-items: center;
    }
    .comic_page-information-large-poster > img {
        max-width: 360px;
        width: 100%;
    }
    .comic_page-information-large-data{
        padding-top: 65px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        font-size: var(--size-mid);
        color: var(--font-lighter);
    }

    .comic_page-information-large-data > * {
        margin-bottom: 20px;
    }

    .comic_page-information-large-data > div > * {
        margin-bottom: 20px;
    }
    
    .comic_page-information-large-data > div {
        display: flex;
        flex-direction: column;
        min-height: 305px;
    }

    .comic_page-information-large-data > div > .title{
        font-size: var(--size-extreme);
        font-family: var(--roboto-bold);
    }

    .comic_page-information-large-data > div> .creators > .comic_page-information-creators-data-creator {
        padding: 0;
        margin-bottom: 6px;
        border-bottom: 0;
        display: flex;
        flex-direction: column-reverse;
    }
    .creator-role{
        font-family: var(--roboto-bold);
        font-size: var(--size-big);
        font-weight: var(--weight-mid);
    }
    .creator-name{
        font-family: var(--roboto-bold);
        font-weight: var(--weight-small);
        padding-left: 5px;
    }
    .creator-role-colon{
        display: inline;
    }

    .comic_page-information-large-data > div > .link{
        flex: 1;
        display: flex;
        align-items: flex-end;
    }
    .comic_page-information-large-data > div > .link > a {
        text-decoration: none;
        font-size: var(--size-big);
        color: var(--color-primary-mid);
        border: 2px solid currentColor;
        background: transparent;
        font-family: var(--roboto-bold);
        padding: 0 10px;
        height: 60px;
        display: flex;
        align-items: center;
    }
    .comic_page-information-large-data > div > .link > a:hover{
        color: var(--color-primary);
    }
}