.comic_page{
    background-color: var(--bg-main);
    min-height: 100vh;
}

/* padding: 0 15px; */

.comic_page-content{

}
.comic_page-content-poster{
    position: relative;
    height: 250px;
    width: 100%;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.comic_page-content-poster > img{
    width: 100%;
}

