/* the results page container */
.results_page{
    background-color: var(--bg-main);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.results_page > * {
    padding: 0 5px;
    box-shadow: 0 3px 10px 4px rgba(0, 0, 0, 0.075);
}

.results_page > .app-header{
    padding: 4px 3%;
}

/* results_page-searchbox */
.results_page-searchbox{
    position: relative;
    height: 50px;
    font-size: var(--size-normal);
    color:var(--font-mid);
}

/* the categories e.g comics, creators etc */
.results_page-categories{
    box-shadow: none;
    padding-top:20px;
    padding-bottom: 5px;
    display: flex;
    list-style-type: none;
    padding-left: 20px;
    border-bottom: 1px solid var(--font-lighter);
}
.results_page-category{
    color: var(--font-light);
}
.results_page-category > a{
    font-weight: var(--weight-mid);
    font-family: var(--roboto-bold);
    font-size: var(--size-mid);
    color: inherit;
    text-decoration: none;
}
.results_page-category:not(:last-child){
    margin-right: 15px;
}
.results_page-category-selected{
    color: var(--color-primary);
    border-bottom: 3px solid var(--color-primary);
}
.results_page-category-selected > a {
    font-weight: var(--weight-big);
}


/* results_page-content */
.results_page-content{
    box-shadow: none;
    padding: 0 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    background: var(--bg-main);
}
.results_page-content-searched-term{
    margin-top: 5px;
    padding: 15px 10px;
    background: white;
    color: var(--font-mid);
    font-size: var(--size-small);
    box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.075);
}
.results_page-content-searched-term > p > span {
    margin: 5px;
    color: var(--color-primary);
    font-weight: var(--weight-big);
}

body{
    margin: 0;
}

.results_page-content-data{
    margin-top: 20px;
    background-color: white;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.results_page-content-data-item{
    height: 110px;
    display: flex;
    padding: 5px;
}
.results_page-content-data-item:not(:last-child){
    margin-bottom: 5px;
}
.results_page-content-data-item:first-child{
    margin-top: 5px;
    display: flex;
}

.results_page-content-data-item-thumbnail{
    flex: 0 0 74px;
    background-color: var(--bg-main);
}
.results_page-content-data-item-thumbnail > img{
    height: 100%;
    width: 100%;
}

.results_page-content-data-item-text{
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: var(--font-mid);
}
.results_page-content-data-item-text > * {
    padding: 7px;
}
.results_page-content-data-item-text-title{
    font-size: var(--size-mid);
    font-weight: var(--weight-big);
    color: inherit;
    text-decoration: none;
}
.results_page-content-data-item-text:hover{
    color: var(--color-primary);
}

.results_page-content-data-item-price {
    color: var(--font-light);
}


.results_page-content-error{
    margin-top: 20px;
    flex: 1;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
