/* the results page container */
.results_page{
    padding:5px 0;
    background-color: var(--bg-main);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.results_page > * {
    padding: 0 5px;
    box-shadow: 0 3px 10px 4px rgba(0, 0, 0, 0.075);
}


/* results_page-searchbox */
.results_page-searchbox{
    position: relative;
    height: 50px;
    font-size: var(--size-normal);
}

/* the categories e.g comics, creators etc */
.results_page-categories{
    box-shadow: none;
    padding-top:20px;
    padding-bottom: 5px;
    display: flex;
    list-style-type: none;
    justify-content: center;
    border-bottom: 1px solid var(--font-lighter);
}
.results_page-category{
    color: var(--font-light);
}
.results_page-category > a{
    font-weight: var(--weight-mid);
    color: inherit;
    text-decoration: none;
}
.results_page-category:not(:last-child){
    margin-right: 15px;
}
.results_page-category-selected{
    color: var(--color-primary);
    border-bottom: 3px solid var(--color-primary);
}


/*
.results_page-content{
    padding: 0 15px;
    flex: 1;
    background: var(--bg-main);
}